body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("Background\ image\ 3.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
    min-height: 100vh;
    margin: 0;
  }
  
  .list-container {
    display: flex;
    justify-content: space-between;
    font-size: 40px;
    width: 80%;
    max-width: 1700px;
    margin-top: 3px;
    transform: translate(-250px);
  }
  
  .ul1{
    flex: 1;
    text-align: left;
    padding: 0px 100px;
  }
   
  .ul1 li{
    display: inline-block;
    font-size: 35px;
    list-style: none;
    margin-top: -20px;
    margin-left: -70px;
  }
  
  .ul1 li a{
    text-decoration: none;
    color: #000;
    padding: 0px 100px;
    position: relative;
  }
  
  .ul1 li a::after{
    content: '';
    width: 0;
    height: 6px;
    background: #dcbd10ae;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -30px;
    transition: 0.5s;
  }
    
  .ul1 li a:hover::after{
    width: 60%;
  }
  
  .ul2{
    flex: 1;
    text-align: right;
  }
     
  .ul2 li{
    display: inline-block;
    font-size: 35px;
    list-style: none;
    margin-top: -20px;
    margin-right: -70px;
  }
    
  .ul2 li a{
    text-decoration: none;
    color: #000;
    padding: 0 100px;
    position: relative;
  }
    
  .ul2 li a::after{
    content: '';
    width: 0;
    height: 6px;
    background: #dcbd10ae;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -30px;
    transition: 0.5s;
  }
    
  .ul2 li a:hover::after{
    width: 60%;
  }
  
  .element-group {
    display: flex;
    margin-left: 30px;
  }
  
  .element-group1 {
    margin-right: 40px;
    margin-left: 0px;
  }
  
  .element-group2 {
    margin-left: 40px;
    margin-right: -80px; 
  }
  
  .element-group1 span,
  .element-group2 span {
    margin: 20px; 
    font-size: 35px;
    color: black;
  }
  .input-box input{
    width: 150%;
    height: 20%;
    text
    background: #fffefe;
    border: none;
    outline: none;
    border: 2px solid CFCCCC;
    border-radius: 30px;
    padding:25px 100px 10px 10px;
    margin-left: -80px;
  
  }
  
  
  .user-icon {
    width: 50px; 
    height: 50px; 
    margin-left: -50px;
    margin-top: -25px;
  }
  
  .header-text1 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 40px;
    color: rgb(244, 235, 235);
    margin-top: 125px;
    text-align: center;
  }
  
  .name1 {
    margin-top: -75px;
    margin-left: 0px;
    font-size: 90px;
  }
  
  .header-text2 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 40px;
    color: rgb(244, 235, 235);
    margin-top: 125px;
    text-align: center;
  }
  
  .name2 {
    margin-top: -75px;
    margin-left: 0px;
    font-size: 90px;
  }
  .container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 80%;
    max-width: 1200px;
    margin: 10px;
    margin-top: 15px;
  }
  
  .content {
    flex: 1;
    color: black;
    font-size: 30px;
    text-align: left;
    margin-left: -50px;
    margin-right: 100px;
    margin-top: 10px;
  }
  
  .photo {
    flex: 0 0 625px;
    margin-right: -80px;
    margin-top: -15px;
  }
  
  .photo img {
    width: 100%;
    height: auto;
  }
  
  .button-container {
    margin-top: 120px;
  }
  
  .start-button {
    display: flex;
    align-items: center;
    padding: 10px 20px 10px 20px;
    margin-left: -625px;
    font-size: 25px;
    background-color: rgb(16, 14, 14);
    color: rgb(253, 246, 246);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  .start-button:hover{
    color: grey;
  }
  
  .button-icon {
    width: 40px;
    height: 25px;
    margin-left: 10px;
  }
  .texta {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 20px;
    color: rgb(21, 16, 16);
  }
  
  .namea {
    margin-top: -10px;
    margin-left: -500px;
    font-size: 30px;
  }
  .texta1 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 20px;
    color: rgb(21, 16, 16);
  }
  
  .namea1 {
    margin-top: 0px;
    transform: translate(10px );
    margin-left: -600px;
    font-size: 25px;
  }

  .textb {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 20px;
    color: rgb(21, 16, 16);
  }
  
  .nameb {
    margin-top: -65px;
    margin-left: 300px;
    font-size: 30px;
  }
  .textb1 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 20px;
    color: rgb(21, 16, 16);
  }
  
  .nameb1 {
    margin-top: -30px;
    transform: translate(10px );
    margin-left: 70px;
    font-size: 25px;
  }
  .textc {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 20px;
    color: rgb(21, 16, 16);
  }
  
  .namec {
    margin-top: -65px;
    margin-left: 800px;
    font-size: 30px;
  }
  .textc1 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 20px;
    color: rgb(21, 16, 16);
  }
  
  .namec1 {
    margin-top: -30px;
    transform: translate(10px );
    margin-left: 750px;
    font-size: 25px;
  }
